body {
    font-family: sans-serif;
    background-color: #FF2300;
    color: white;
}

header{
    background-color: #00BD39;
}

h1{
    background-color: #FF8100;
}

p{
    background-color: #057D9F;
}
